# Final Project

Joy Wang, Stephanie Wang, Lucinda Zhou 

CMSC320

# Data Curation and Parsing

In [1]:
import pandas as pd
import numpy as np 
from matplotlib import pyplot as plt
from sklearn.cluster import KMeans

In [2]:
# read in data and store as a dataframe
df = pd.read_csv('https://pandemicdatalake.blob.core.windows.net/public/curated/covid-19/covid_tracking/latest/covid_tracking.csv')

# remove deprecated columns based on data documentation
df = df.drop(df.columns[df.columns.str.contains('increase')], axis=1)
df = df.drop(labels=['date_checked','hospitalized','pos_neg','total'], axis=1)

df.head()

,date,state,positive,negative,pending,hospitalized_currently,hospitalized_cumulative,in_icu_currently,in_icu_cumulative,on_ventilator_currently,...,data_quality_grade,last_update_et,hash,death,total_test_results,fips,fips_code,iso_subdivision,load_time,iso_country
0,2021-03-07,AK,56886.0,NaN,NaN,33.0,1293.0,NaN,NaN,2.0,...,NaN,2021-03-05 03:59:00,dc4bccd4bb885349d7e94d6fed058e285d4be164,305.0,1731628.0,2,2,US-AK,2022-01-11 00:04:58,US
1,2021-03-07,AL,499819.0,1931711.0,NaN,494.0,45976.0,NaN,2676.0,NaN,...,NaN,2021-03-07 11:00:00,997207b430824ea40b8eb8506c19a93e07bc972e,10148.0,2323788.0,1,1,US-AL,2022-01-11 00:04:58,US
2,2021-03-07,AR,324818.0,2480716.0,NaN,335.0,14926.0,141.0,NaN,65.0,...,NaN,2021-03-07 00:00:00,50921aeefba3e30d31623aa495b47fb2ecc72fae,5319.0,2736442.0,5,5,US-AR,2022-01-11 00:04:58,US
3,2021-03-07,AS,0.0,2140.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2020-12-01 00:00:00,f77912d0b80d579fbb6202fa1a90554fc4dc1443,0.0,2140.0,60,60,US-AS,2022-01-11 00:04:58,US
4,2021-03-07,AZ,826454.0,3073010.0,NaN,963.0,57907.0,273.0,NaN,143.0,...,NaN,2021-03-07 00:00:00,0437a7a96f4471666f775e63e86923eb5cbd8cdf,16328.0,7908105.0,4,4,US-AZ,2022-01-11 00:04:58,US

For our final project, we decided to analyze the dataset from the COVID Tracking project, which is one of the open datasets from Microsoft. We utilized the CSV version of the dataset, and used pandas read_csv() to read and parse the csv file into a pandas dataframe. 

While reading Microsoft's documentation for this dataset, we noticed that some columns were described as "Deprecated", so we did some preliminary data cleaning by dropping those columns from the datafram using the drop() function.

# Joy's Work in Progress :))

In [3]:
# lin reg models and hypothesis testing
# consider: how am i dealing with nan? by removing rows with nan values in the columns im modeling

# dropping unnecessary columns for my linear regression models
lrdata = df.drop(df.columns[df.columns.str.contains('cumulative|iso')], axis=1)
lrdata = lrdata.drop(labels=['pending','data_quality_grade','last_update_et','hash','fips','fips_code','load_time'], axis=1)
lrdata

,date,state,positive,negative,hospitalized_currently,in_icu_currently,on_ventilator_currently,recovered,death,total_test_results
0,2021-03-07,AK,56886.0,NaN,33.0,NaN,2.0,NaN,305.0,1731628.0
1,2021-03-07,AL,499819.0,1931711.0,494.0,NaN,NaN,295690.0,10148.0,2323788.0
2,2021-03-07,AR,324818.0,2480716.0,335.0,141.0,65.0,315517.0,5319.0,2736442.0
3,2021-03-07,AS,0.0,2140.0,NaN,NaN,NaN,NaN,0.0,2140.0
4,2021-03-07,AZ,826454.0,3073010.0,963.0,273.0,143.0,NaN,16328.0,7908105.0
...,...,...,...,...,...,...,...,...,...,...
22256,2020-01-17,WA,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22257,2020-01-16,WA,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22258,2020-01-15,WA,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22259,2020-01-14,WA,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22260,2020-01-13,WA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# getting a list with all unique states
states = lrdata['state'].unique()

# create new dataframe with averages for each state
state_avgs = pd.DataFrame(columns=['state', 'positive_avg','hospitalized_currently_avg','recovered_avg','death_avg'])
state_avgs['state'] = states
state_avgs.head()

  state positive_avg hospitalized_currently_avg recovered_avg death_avg
0    AK          NaN                        NaN           NaN       NaN
1    AL          NaN                        NaN           NaN       NaN
2    AR          NaN                        NaN           NaN       NaN
3    AS          NaN                        NaN           NaN       NaN
4    AZ          NaN                        NaN           NaN       NaN

In [5]:
# calculating averages for each of these columns for each state
for column in ['positive','hospitalized_currently','recovered','death']:
    # dropping rows with NaN values in the current column we are operating on
    lrdata_col = lrdata.dropna(subset=[column])
    # there are 56 states, and we will iterate through them
    for i in range(56):
        # create a dataframe that only contains rows for the current state
        state = states[i]
        lrdata_state = lrdata_col[lrdata_col['state'] == states[i]]
        # calculate the average for this state and this column
        average = lrdata_state[column].mean()
        # insert the average value into the dataframe where we are storing averages for each state
        state_avgs.at[i, (column+'_avg')] = average
state_avgs.head()

# FINISH CREATING THE AVGS TABLE!!!

# create plot and lin reg model for 3 relationships with positive numbers

  state   positive_avg hospitalized_currently_avg  recovered_avg    death_avg
0    AK    17298.16573                  54.950617    2153.107143    85.792916
1    AL  169569.196721                1160.318052  109245.755172  2900.178771
2    AR  102513.722071                 535.737892   97263.810345  1713.849003
3    AS            0.0                        NaN            NaN          0.0
4    AZ   258711.03252                 1947.81459            NaN  5328.983333

# Stephanie's WIP

We can't do k means analysis on non numerical variables, so we can drop those.

In [6]:
mldata = df.copy()
mldata = mldata.drop(
    labels=['data_quality_grade', 'last_update_et', 'hash', 'load_time', 'iso_subdivision', 'iso_country'], 
    axis=1
)
mldata.head()

,date,state,positive,negative,pending,hospitalized_currently,hospitalized_cumulative,in_icu_currently,in_icu_cumulative,on_ventilator_currently,on_ventilator_cumulative,recovered,death,total_test_results,fips,fips_code
0,2021-03-07,AK,56886.0,NaN,NaN,33.0,1293.0,NaN,NaN,2.0,NaN,NaN,305.0,1731628.0,2,2
1,2021-03-07,AL,499819.0,1931711.0,NaN,494.0,45976.0,NaN,2676.0,NaN,1515.0,295690.0,10148.0,2323788.0,1,1
2,2021-03-07,AR,324818.0,2480716.0,NaN,335.0,14926.0,141.0,NaN,65.0,1533.0,315517.0,5319.0,2736442.0,5,5
3,2021-03-07,AS,0.0,2140.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,2140.0,60,60
4,2021-03-07,AZ,826454.0,3073010.0,NaN,963.0,57907.0,273.0,NaN,143.0,NaN,NaN,16328.0,7908105.0,4,4

In [7]:
mldata = mldata.drop(
    labels=['date', 'hospitalized_currently', 'in_icu_currently', 'on_ventilator_currently', 'fips', 'fips_code'], 
    axis=1
)
mldata.head()

,state,positive,negative,pending,hospitalized_cumulative,in_icu_cumulative,on_ventilator_cumulative,recovered,death,total_test_results
0,AK,56886.0,NaN,NaN,1293.0,NaN,NaN,NaN,305.0,1731628.0
1,AL,499819.0,1931711.0,NaN,45976.0,2676.0,1515.0,295690.0,10148.0,2323788.0
2,AR,324818.0,2480716.0,NaN,14926.0,NaN,1533.0,315517.0,5319.0,2736442.0
3,AS,0.0,2140.0,NaN,NaN,NaN,NaN,NaN,0.0,2140.0
4,AZ,826454.0,3073010.0,NaN,57907.0,NaN,NaN,NaN,16328.0,7908105.0

Getting cumulative values for each column

In [8]:
bystate = mldata.groupby('state').max()
bystate

,positive,negative,pending,hospitalized_cumulative,in_icu_cumulative,on_ventilator_cumulative,recovered,death,total_test_results
state,,,,,,,,,
AK,56886.0,NaN,14.0,1293.0,NaN,NaN,7165.0,305.0,1731628.0
AL,499819.0,1931711.0,46.0,45976.0,2676.0,1515.0,295690.0,10149.0,2323788.0
AR,324818.0,2480716.0,203.0,14926.0,43.0,1533.0,315517.0,5417.0,2736442.0
AS,0.0,2140.0,17.0,NaN,NaN,NaN,NaN,0.0,2140.0
AZ,826454.0,3073010.0,130.0,57907.0,NaN,NaN,NaN,16328.0,7908105.0
CA,3501394.0,266839.0,15000.0,NaN,NaN,NaN,NaN,32291.0,49646014.0
CO,436602.0,2199458.0,69.0,23904.0,NaN,NaN,NaN,5989.0,6415123.0
CT,285330.0,NaN,8.0,13793.0,NaN,NaN,9800.0,7704.0,6520366.0
DC,41419.0,NaN,20.0,NaN,NaN,NaN,29570.0,1030.0,1261363.0
DE,88354.0,545070.0,32.0,NaN,NaN,NaN,18851.0,1473.0,1431942.0
FL,1909209.0,9339038.0,8544.0,82237.0,NaN,NaN,NaN,32266.0,22339182.0
GA,1023487.0,NaN,NaN,56797.0,9263.0,NaN,NaN,17906.0,7359069.0
GU,7749.0,112887.0,NaN,NaN,NaN,NaN,7590.0,133.0,120636.0
HI,28699.0,295153.0,NaN,2226.0,NaN,NaN,11958.0,445.0,1146796.0
IA,282384.0,1044418.0,29.0,193.0,NaN,NaN,320054.0,5558.0,1326802.0
ID,172931.0,505964.0,NaN,7184.0,1245.0,NaN,96017.0,1879.0,645838.0
IL,1198335.0,NaN,195.0,NaN,NaN,NaN,NaN,23014.0,18640190.0
IN,667262.0,2483156.0,NaN,43217.0,7600.0,NaN,NaN,12737.0,8242367.0
KS,295861.0,974686.0,21.0,9387.0,2554.0,413.0,NaN,4816.0,1270547.0
KY,410709.0,NaN,3.0,19457.0,4034.0,NaN,48145.0,4819.0,3975672.0
LA,433785.0,5261679.0,NaN,NaN,NaN,NaN,415954.0,9748.0,5695464.0
MA,591356.0,4404792.0,NaN,19713.0,NaN,NaN,508745.0,16417.0,16825551.0
MD,387319.0,3034546.0,14.0,35651.0,NaN,NaN,9703.0,7955.0,8097590.0
ME,45794.0,NaN,20.0,1570.0,NaN,NaN,12840.0,706.0,1660180.0
MI,656072.0,NaN,30.0,NaN,NaN,NaN,549881.0,16658.0,10621967.0
MN,490011.0,3058514.0,NaN,25978.0,5364.0,NaN,476055.0,6550.0,7111428.0
MO,480643.0,1878583.0,NaN,NaN,NaN,NaN,NaN,8161.0,4565866.0
MP,145.0,17429.0,12.0,4.0,NaN,NaN,29.0,2.0,17574.0
MS,297581.0,1459374.0,NaN,9162.0,NaN,NaN,278162.0,6808.0,1756955.0
MT,100914.0,931.0,NaN,4630.0,NaN,NaN,97943.0,1381.0,1104488.0
NC,872176.0,NaN,151.0,NaN,NaN,NaN,NaN,11502.0,9688838.0
ND,100391.0,306021.0,14.0,3880.0,567.0,NaN,98326.0,1478.0,1425146.0
NE,203026.0,771128.0,33.0,6237.0,NaN,NaN,157144.0,2113.0,2421684.0
NH,76861.0,579582.0,2183.0,1131.0,348.0,NaN,73615.0,1184.0,1497185.0
NJ,812609.0,10186941.0,676.0,65254.0,NaN,NaN,NaN,23574.0,10999550.0
NM,186922.0,16285.0,0.0,13252.0,NaN,NaN,156554.0,3808.0,2783542.0
NV,296190.0,1131758.0,164.0,NaN,NaN,NaN,NaN,5037.0,2770192.0
NY,1681169.0,NaN,236.0,NaN,NaN,NaN,NaN,32725.0,39695100.0
OH,978471.0,NaN,361.0,50881.0,7207.0,NaN,925655.0,17656.0,10257157.0
OK,428997.0,3146300.0,17869.0,24332.0,NaN,NaN,412177.0,4534.0,3575297.0
OR,157079.0,968686.0,437.0,8714.0,NaN,NaN,5870.0,2296.0,3850973.0
PA,948643.0,3942124.0,183.0,1145.0,NaN,NaN,861756.0,24349.0,10681716.0
PR,101632.0,305972.0,1954.0,NaN,NaN,NaN,91987.0,2062.0,407604.0
RI,128781.0,677570.0,334.0,9020.0,NaN,NaN,NaN,2547.0,3123348.0
SC,525865.0,4657179.0,NaN,20725.0,NaN,NaN,230793.0,8754.0,5183044.0
SD,113589.0,314540.0,385.0,6705.0,NaN,NaN,109531.0,1900.0,701924.0
TN,782206.0,NaN,NaN,18870.0,NaN,NaN,756793.0,11543.0,6872745.0
TX,2686818.0,NaN,NaN,NaN,NaN,NaN,2502609.0,32394.0,19907384.0
UT,374850.0,1560293.0,NaN,14891.0,2344.0,822.0,358958.0,1976.0,2910121.0
VA,585700.0,NaN,1405.0,24661.0,NaN,NaN,NaN,9596.0,6038209.0
VI,2714.0,46167.0,199.0,NaN,NaN,NaN,2559.0,25.0,48881.0
VT,16083.0,320060.0,NaN,50.0,NaN,NaN,13384.0,208.0,1124215.0
WA,344532.0,NaN,66.0,19599.0,NaN,NaN,NaN,5041.0,5393756.0
WI,621654.0,2647864.0,347.0,26457.0,2273.0,NaN,553203.0,7106.0,7080595.0
WV,133445.0,NaN,43.0,NaN,NaN,NaN,125383.0,2325.0,2236551.0
WY,54764.0,182264.0,NaN,1391.0,NaN,NaN,53550.0,682.0,704836.0

In [9]:
bystate = bystate.dropna(axis=1)
bystate

        positive    death  total_test_results
state
AK       56886.0    305.0           1731628.0
AL      499819.0  10149.0           2323788.0
AR      324818.0   5417.0           2736442.0
AS           0.0      0.0              2140.0
AZ      826454.0  16328.0           7908105.0
CA     3501394.0  32291.0          49646014.0
CO      436602.0   5989.0           6415123.0
CT      285330.0   7704.0           6520366.0
DC       41419.0   1030.0           1261363.0
DE       88354.0   1473.0           1431942.0
FL     1909209.0  32266.0          22339182.0
GA     1023487.0  17906.0           7359069.0
GU        7749.0    133.0            120636.0
HI       28699.0    445.0           1146796.0
IA      282384.0   5558.0           1326802.0
ID      172931.0   1879.0            645838.0
IL     1198335.0  23014.0          18640190.0
IN      667262.0  12737.0           8242367.0
KS      295861.0   4816.0           1270547.0
KY      410709.0   4819.0           3975672.0
LA      433785.0   9748.0           5695464.0
MA      591356.0  16417.0          16825551.0
MD      387319.0   7955.0           8097590.0
ME       45794.0    706.0           1660180.0
MI      656072.0  16658.0          10621967.0
MN      490011.0   6550.0           7111428.0
MO      480643.0   8161.0           4565866.0
MP         145.0      2.0             17574.0
MS      297581.0   6808.0           1756955.0
MT      100914.0   1381.0           1104488.0
NC      872176.0  11502.0           9688838.0
ND      100391.0   1478.0           1425146.0
NE      203026.0   2113.0           2421684.0
NH       76861.0   1184.0           1497185.0
NJ      812609.0  23574.0          10999550.0
NM      186922.0   3808.0           2783542.0
NV      296190.0   5037.0           2770192.0
NY     1681169.0  32725.0          39695100.0
OH      978471.0  17656.0          10257157.0
OK      428997.0   4534.0           3575297.0
OR      157079.0   2296.0           3850973.0
PA      948643.0  24349.0          10681716.0
PR      101632.0   2062.0            407604.0
RI      128781.0   2547.0           3123348.0
SC      525865.0   8754.0           5183044.0
SD      113589.0   1900.0            701924.0
TN      782206.0  11543.0           6872745.0
TX     2686818.0  32394.0          19907384.0
UT      374850.0   1976.0           2910121.0
VA      585700.0   9596.0           6038209.0
VI        2714.0     25.0             48881.0
VT       16083.0    208.0           1124215.0
WA      344532.0   5041.0           5393756.0
WI      621654.0   7106.0           7080595.0
WV      133445.0   2325.0           2236551.0
WY       54764.0    682.0            704836.0

In [10]:
km = KMeans(
    n_clusters=3, init='random',
    n_init=10, max_iter=300, 
    tol=1e-04, random_state=0
)
# y_km = km.fit_predict(X)

# Lucinda's WIP
We will also be looking to see if there is any correlation between the political leaning of each state and positive/death rates.

In [20]:
# group by state and sum up totals
sum = lrdata.groupby("state").sum()

# drop territories since don't have political data on those
sum = sum.drop(index=['AS','GU', 'MP', 'PR','VI','DC'])

print(sum.count())
sum

positive                   50
negative                   50
hospitalized_currently     50
in_icu_currently           50
on_ventilator_currently    50
recovered                  50
death                      50
total_test_results         50
dtype: int64

,positive,negative,hospitalized_currently,in_icu_currently,on_ventilator_currently,recovered,death,total_test_results
state,,,,,,,,
AK,6158147.0,0.000000e+00,17804.0,0.0,2101.0,482296.0,31486.0,2.082177e+08
AL,62062326.0,3.145741e+08,404951.0,0.0,0.0,31681269.0,1038264.0,3.662777e+08
AR,37622536.0,3.363102e+08,188044.0,52440.0,34700.0,33847806.0,601561.0,3.685376e+08
AZ,95464371.0,4.379830e+08,640831.0,172806.0,112235.0,0.0,1918434.0,9.190266e+08
CA,379100459.0,3.457932e+06,2653612.0,668693.0,0.0,0.0,3470484.0,5.833385e+09
CO,49413695.0,3.200637e+08,231196.0,0.0,0.0,0.0,908462.0,7.034087e+08
CT,33618419.0,0.000000e+00,214270.0,0.0,0.0,1491836.0,1584666.0,7.782720e+08
DE,10219638.0,8.746894e+07,61269.0,6818.0,0.0,2034628.0,228375.0,1.745888e+08
FL,246537443.0,1.484857e+09,1149908.0,0.0,0.0,0.0,4471991.0,2.886547e+09
GA,123499113.0,0.000000e+00,797424.0,0.0,0.0,0.0,2349202.0,1.004321e+09
HI,7727252.0,4.212533e+07,47732.0,10862.0,7356.0,1339460.0,104956.0,2.895442e+08
IA,38856604.0,1.951158e+08,146152.0,35438.0,17728.0,35195542.0,652451.0,2.339724e+08
ID,21044768.0,8.437504e+07,64360.0,15102.0,0.0,9841100.0,219713.0,1.021212e+08
IL,155523687.0,0.000000e+00,973480.0,225442.0,120665.0,0.0,3601219.0,2.292160e+09
IN,76263758.0,4.025880e+08,478720.0,147632.0,62594.0,0.0,1629501.0,9.483284e+08
KS,33617591.0,1.503885e+08,115174.0,31064.0,12058.0,0.0,446973.0,1.840061e+08
KY,41966662.0,0.000000e+00,284560.0,72826.0,21703.0,6103867.0,519333.0,5.282973e+08
LA,61057115.0,7.346068e+08,390879.0,0.0,55926.0,51491928.0,1765795.0,7.956639e+08
MA,71309732.0,6.928896e+08,443931.0,93854.0,31144.0,52357073.0,3195657.0,1.841466e+09
MD,52034356.0,4.795230e+08,312666.0,87702.0,0.0,2209232.0,1386198.0,1.000895e+09
ME,4064643.0,0.000000e+00,21272.0,6941.0,2788.0,1955791.0,73681.0,1.842231e+08
MI,165664548.0,0.000000e+00,1066596.0,295010.0,182490.0,109619754.0,5784124.0,2.853885e+09
MN,60388446.0,4.731851e+08,188888.0,55700.0,0.0,55529351.0,931536.0,8.778252e+08
MO,60088249.0,3.324900e+08,462745.0,69274.0,51317.0,0.0,966302.0,6.464282e+08
MS,38297901.0,2.200982e+08,277148.0,68635.0,38561.0,31547277.0,968406.0,2.583961e+08
MT,11167518.0,3.056000e+03,50892.0,4350.0,2316.0,9562093.0,139255.0,1.385573e+08
NC,95648366.0,0.000000e+00,486042.0,101422.0,0.0,0.0,1347142.0,1.190347e+09
ND,13141421.0,6.325452e+07,34975.0,4757.0,0.0,12099983.0,181229.0,2.182863e+08
NE,25447329.0,1.319614e+08,96658.0,162.0,112.0,16688337.0,255624.0,2.920066e+08
NH,6979193.0,9.123411e+07,31831.0,0.0,0.0,6056419.0,171074.0,1.823105e+08
NJ,105084623.0,1.306140e+09,811696.0,176011.0,123093.0,0.0,5352148.0,1.411225e+09
NM,20928827.0,1.677320e+05,105510.0,0.0,162.0,11207226.0,431992.0,3.583736e+08
NV,36317473.0,1.926444e+08,279546.0,68110.0,40226.0,0.0,601874.0,3.794738e+08
NY,216883639.0,0.000000e+00,1614237.0,383744.0,140519.0,0.0,7033808.0,4.549993e+09
OH,103133347.0,0.000000e+00,577287.0,155855.0,94083.0,82863774.0,1909606.0,1.300801e+09
OK,45753488.0,4.189470e+08,265289.0,85480.0,0.0,40490616.0,469890.0,4.647005e+08
OR,17532076.0,1.004155e+08,90733.0,21762.0,10601.0,550306.0,254171.0,4.527016e+08
PA,202144730.0,1.250201e+09,1428660.0,198748.0,204932.0,152352580.0,6768278.0,2.583168e+09
RI,14950160.0,1.086205e+08,70256.0,10850.0,6802.0,0.0,408127.0,3.480240e+08
SC,58314269.0,5.090040e+08,331906.0,62398.0,35593.0,27002643.0,1092259.0,5.673183e+08
SD,14345234.0,5.431794e+07,61998.0,6547.0,3839.0,12607155.0,202061.0,1.035846e+08
TN,92154114.0,0.000000e+00,480390.0,99089.0,50572.0,81662717.0,1185922.0,9.994480e+08
TX,311242452.0,0.000000e+00,2130880.0,642089.0,0.0,254854339.0,3408980.0,2.578428e+09
UT,42543265.0,2.554719e+08,99270.0,31618.0,0.0,34610065.0,221121.0,4.072285e+08
VA,65585628.0,0.000000e+00,501948.0,111448.0,60338.0,0.0,1111918.0,7.729167e+08
VT,1361136.0,5.073848e+07,7555.0,811.0,0.0,995045.0,28218.0,1.217880e+08
WA,42162428.0,0.000000e+00,205897.0,35564.0,19300.0,0.0,770213.0,7.056516e+08
WI,153627890.0,9.151756e+08,478822.0,122296.0,696.0,126903212.0,1659414.0,1.853990e+09
WV,12471865.0,0.000000e+00,86130.0,25023.0,11320.0,9692530.0,214943.0,2.553533e+08
WY,5974723.0,3.039511e+07,19266.0,0.0,0.0,5315453.0,59935.0,8.284732e+07

We will now need data on the political leanings of each state. Since the pandemic occured during the 2020 election, data from this election will be the most interesting to analyze. We found this Kaggle dataset that contains information about the number of votes broken down to each county:
https://www.kaggle.com/datasets/unanimad/us-election-2020?resource=download&select=president_county_candidate.csv

In [117]:
# read table
elections = pd.read_csv("president_county_candidate.csv")

# group table by state and party, remove DC
filtered = elections[elections["party"] == "DEM"]
grouped = filtered.groupby(["state", "party"]).sum()
grouped = grouped.drop(index=["District of Columbia"])

# get totals
total = elections.groupby("state").sum()
total = total.drop(index=["District of Columbia"])

# loop through and get democratic percentage
for index, row in grouped.iterrows():
    total.at[index[0],"dem_pct"] = row["total_votes"]/total["total_votes"][index[0]]

    
# change to state abbreviations instead of full names
total["stateID"] = ["AL", "AK","AZ","AR","CA","CO","CT","DE","FL","GA","HI","ID","IL","IN","IA","KS","KY","LA","ME","MD","MA","MI","MN","MS","MO","MT","NE","NV","NH","NJ","NM","NY","NC","ND","OH","OK","OR","PA","RI","SC","SD","TN","TX","UT","VT","VA","WA","WV","WI","WY"]
total = total.set_index("stateID")
total

         total_votes  won   dem_pct
stateID
AL           2323304   67  0.365707
AK            391346   40  0.391993
AZ           3387326   15  0.493647
AR           1219069   75  0.347751
CA          17495906   58  0.634992
CO           3256953   64  0.554000
CT           1824280  169  0.592387
DE            504010    3  0.587822
FL          11067456   67  0.478615
GA           4997716  159  0.494953
HI            574469    4  0.637336
ID            868106   44  0.330629
IL           7215501  103  0.589447
IN           3033198   92  0.409632
IA           1690871   99  0.448917
KS           1349567  105  0.413962
KY           2136768  120  0.361515
LA           2148062   64  0.398515
ME            813740  498  0.529006
MD           3037030   24  0.653607
MA           3631402  351  0.656001
MI           5539302   83  0.506208
MN           3277171   87  0.523951
MS           1315182   82  0.410132
MO           3025962  115  0.414088
MT            605750   56  0.404104
NE            956379   93  0.391668
NV           1405376   17  0.500568
NH            804430  237  0.528226
NJ           4564234   21  0.571473
NM            923965   33  0.542893
NY           8613546   62  0.608809
NC           5524801  100  0.485862
ND            361819   53  0.317568
OH           5922202   88  0.452393
OK           1560699   77  0.322862
OR           2374321   36  0.564533
PA           6925255   67  0.499609
RI            516383   39  0.592990
SC           2513329   46  0.434301
SD            422609   66  0.356053
TN           3054534   95  0.374497
TX          11317911  254  0.464673
UT           1488289   29  0.376460
VT            367428  246  0.660864
VA           4460524  133  0.541095
WA           4087631   39  0.579703
WV            794652   55  0.296965
WI           3297352   72  0.494540
WY            276765   23  0.265536